#clickbolinha1 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 14%;
    left: 30%;
    border-width: 0;
}

#clickbolinha2 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 14%;
    left: 44%;
    border-width: 0;
}

#clickbolinha3 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 14%;
    left: 58%;
    border-width: 0;
}

#clickbolinha4 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 42%;
    left: 30%;
    border-width: 0;
}

#clickbolinha5 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 42%;
    left: 44%;
    border-width: 0;
}

#clickbolinha6 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 42%;
    left: 58%;
    border-width: 0;
}

#clickbolinha7 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 70%;
    left: 30%;
    border-width: 0;
}

#clickbolinha8 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 70%;
    left: 44%;
    border-width: 0;
}

#clickbolinha9 {
    margin: 0;
    background-image: url("https://img.freepik.com/fotos-premium/splash-em-forma-de-garrafa-com-cubos-de-gelo-e-respingos-de-gotas-isoladas_338799-719.jpg?w=2000");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 70%;
    left: 58%;
    border-width: 0;
}
