#clickxis1 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 14%;
    left: 30%;
    border-width: 0;
    background-size: cover;
}

#clickxis2 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 14%;
    left: 44%;
    border-width: 0;
}

#clickxis3 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 14%;
    left: 58%;
    border-width: 0;
}

#clickxis4 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 42%;
    left: 30%;
    border-width: 0;
}

#clickxis5 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 42%;
    left: 44%;
    border-width: 0;
}

#clickxis6 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 42%;
    left: 58%;
    border-width: 0;
}

#clickxis7 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 70%;
    left: 30%;
    border-width: 0;
}

#clickxis8 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 70%;
    left: 44%;
    border-width: 0;
}

#clickxis9 {
    margin: 0;
    background-image: url("https://img.freepik.com/vetores-premium/letra-x-alfabeto-abcd-letra-grande-e-letra-minuscula_635702-656.jpg");
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 70%;
    left: 58%;
    border-width: 0;
}
